/* Ep.css */

.scrolling-container {
  width: 200%;
  animation: scrolling 40s linear infinite;
}

.scrolling-image {
  flex: 1;
  height: 100vh;
  background-image: url('bg.png');
  background-size: auto 100%; 
  background-position: top left; 
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%); 
  }
  100% {
    transform: translateX(0%); 
  }
}

.schabernack{
  top: 10%;
}

.baddy{
  overflow: hidden;
}